@model codefirstnewProjectone.Models.transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff.staff_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.staff_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tblitem.item_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tblitem.item_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trans_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trans_amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Trans_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
