@model IEnumerable<codefirstmigration.Models.customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cust_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cust_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cust_tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cust_salary_after)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cust_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_salary_after)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cust_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cust_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cust_id })
        </td>
    </tr>
}

</table>
