@model applicationMigrations.Models.customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_member)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_member)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cust_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
