@model IEnumerable<searching_functionality.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.depart_name)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.depart_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.depart_name }) |
            @Html.ActionLink("Details", "Details", new { id=item.depart_name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.depart_name })
        </td>
    </tr>
}

</table>
