@model movie_rental_system.Models.returning

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>returning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rent.rent_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent.rent_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.late_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.late_fee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.returning_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
