@model CarShop.Models.Car
@{
    ViewBag.Title = "cardetails";
}
<style>
    *{
        font-family:Dubai;
    }
    h2 {
        font-family:'Trebuchet MS'; 
        display:flex; justify-content:center; 
    }
    td, th {
        padding: 5px 15px;
        border: 2px solid black;
    }

    table {
        width: 100%;
    }

    td {
        font-size: 16px;
    }

    th {
        background-color: lightgray;
        font-size: 22px;
    }
    .ClassS {
        background-color:red;
    }
</style>
@{ 
    var className = Model.Class.car_class == "S" ? "ClassS" : null;
}

<h2>Car Details</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Class</th>
            <th>Price</th>
            <th>Release Date</th>
            <th>Has sunroof</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.name</td>
            <td>@Model.model</td>
            <td class="@className">@Model.Class.car_class</td>
            <td>@Model.price</td>
           @if (Model.released == null)
           {
               <td>Unspecified</td>
           }
           else
           {
            <td>@Model.released.Value.ToShortDateString()</td>
           }
            <td>@Model.sunroof</td>
        </tr>
    </tbody>
</table>

