@model APDP201_mvc.Models.customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cust_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cust_Bal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cust_Bal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cust_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
