@model applicationMigrations.Models.borrow

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>borrow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.cust_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borrower_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrower_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borrower_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrower_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borrower_hometown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrower_hometown)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.borrow_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
