@model movie_rental_system.Models.Rent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.movie_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.movie_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rental_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rental_fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.total_with_vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_with_vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rent_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
